<table class="table table-hover" style="{% if no_margin %} margin-bottom: 2.5px; {% endif %}">
    <tr data-href="{{ url_for('main.post_info', post_id=post.id) }}">
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}"/>
            </a>
        </td>
        <td>
            <span class="has_popup user_popup">
                <a href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username }}</a>
            </span>

            {% if not post.is_comment() %}
                said {{ moment(post.timestamp).fromNow() }}:
            {% else %}
                replied to
                <a href="{{ url_for('main.post_info', post_id=post.get_comment_parent().id) }}">
                    {{ post.get_comment_parent().author.username }}'s post</a>
                {{ moment(post.timestamp).fromNow() }}:
            {% endif %}
            <br>
            <span id="post{{ post.id }}">
                {%- set post_data = post.display_body_data() -%}
                {%- if post_data is string -%}
                    <p>{{ post_data }}</p>
                {%- else -%}
                    <p>
                    {%- for segment in post_data[0] -%}
                        {%- if segment[0] == '@' and segment[1:] in post_data[1] -%}
                            <span class="has_popup user_popup"><a href="{{ url_for('main.user', username=segment[1:]) }}">{{ segment }}</a></span>
                        {%- else -%}
                            {{ segment }}
                        {%- endif -%}
                    {%- endfor -%}
                    </p>
                {%- endif -%}
            </span>

            {% if post.language and post.language != g.locale %}
                <p></p>
                <span id="translation{{ post.id }}">
                    <a href="javascript:translate(
                        '#post{{ post.id }}','#translation{{ post.id }}','{{ post.language }}','{{ g.locale }}');">
                        Translate</a>
                </span>
            {% endif %}
        </td>
    </tr>
</table>